body {
	overflow: hidden;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

path {
	stroke: red;
	fill: black;
	stroke-opacity: 0.5;
}
path:hover {
	fill: #aaa;
	stroke: blue;
	stroke-opacity: 0.7;
}
